[theme="dark"] {
  --homeBg: #191919;
  --itemBg: #000;
  --grey: #1E1E1E;
  --searchInput: #40403F;
  --searchButtonText: #41270C;
  --activBar: #F2F6F7;
  --passivBar: #252525;
  --passivbarNumberBlock: #25252500;
  --activebarNumberBlock: #000;
  --activeNumber: #fff;
  --passivNumber: #ffffff;
  --saveButton: #F1F6FD;
  --fileBlock: #1B1B1B;
  --fileItem: #4D4D4C;
  --itemTitle: #c9ac8c;
  --itemLabel: #A5A5A3;
  --description: #D1D1CF;
  --profilTitle: #DEDEDC;
  --profilText: #F2F6F7;
  --profileLabel: #C6CACA;
  --profileInputText: #000000;
  --whiteBlack: #ffffff;
  --blackWhite: #000;
  --fileText: #828281;
  --barText: #A3A3A1;
}
[theme="lite"] {
  --homeBg: #FFFFFC;
  --itemBg: #F5F5F2;
  --grey: #F5F5F2;
  --searchInput: #F5F5F2;
  --searchButtonText: #F4DABD;
  --activBar: #DCE6F4;
  --passivBar: #F7F9F9;
  --passivbarNumberBlock: #EEF2F2;
  --activebarNumberBlock: #132543;
  --activeNumber: #fff;
  --passivNumber: #78C1FF;
  --saveButton: #132543;
  --fileBlock: #F4F4F1;
  --fileItem: #F8F8F5;
  --itemTitle: #000;
  --itemLabel: #626261;
  --description: #3D3D3C;
  --profilTitle: #212121;
  --profilText: #464E60;
  --profileLabel: #C6C4CD;
  --profileInputText: #464E60;
  --whiteBlack: #000;
  --blackWhite: #fff;
  --fileText: #AEAEAC;
  --barText: #90949E;
}

.box{
  background-color: var(--searchButton);
  width: 100px;
  height: 100px;
  color: var(--itemTitle);
}